<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button 
            severity="success" 
            label="New" 
            icon="pi pi-plus" 
            class="mr-2"  
            (click)="toggleFormDialog()"
            />
    </ng-template>
</p-toolbar>
<p-table
    [tableStyle]="{'width': '80rem', 'min-height': '20rem'}"
    [scrollable]="true" 
    scrollHeight="45rem" 
    [value]="products"
    [loading]="loading"
    [lazy]="true"
    [paginator]="true"
    [rows]="5"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"    
    [paginatorPosition]="'bottom'"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [sortOrder]="1"
    (onLazyLoad)="loadData($event)">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th>Image</th>
            <th pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
            <th pSortableColumn="Description">Description<p-sortIcon field="Description"></p-sortIcon></th>
            <th pSortableColumn="Price">Price<p-sortIcon field="Price"></p-sortIcon></th>
            <th pSortableColumn="Stock">Stock<p-sortIcon field="Stock"></p-sortIcon></th>
            <th pSortableColumn="Discount">Discount<p-sortIcon field="Discount"></p-sortIcon></th>
            <th pSortableColumn="CategoryName">Category<p-sortIcon field="CategoryName"></p-sortIcon></th>
            <th>Actions</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="text" field="Id" placeholder="Search by ID"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Name" placeholder="Search by Name"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Description" placeholder="Search by Description"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Price" placeholder="Search by Price"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Stock" placeholder="Search by Stock"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Discount" placeholder="Search by Discount"></p-columnFilter>
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><p-tableCheckbox [value]="product"></p-tableCheckbox></td>
            <td>{{product.id}}</td>
            <td><img [src]="getImage(product)" alt="product image" class="w-8rem w-auto max-w-full"></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.discount}}</td>
            <td>{{product.categoryName}}</td>
            <td>
                <p-button 
                icon="pi pi-pencil" 
                class="mr-2" 
                [rounded]="true" 
                [outlined]="true" 
                severity="success" 
                (click)="editProduct(product)"
                ></p-button>
                <p-button
                icon="pi pi-image"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                severity="info"
                (click)="uploadImage(product)"
                ></p-button>
                <p-button 
                icon="pi pi-trash" 
                severity="danger" 
                [rounded]="true" 
                [outlined]="true"
                (click)="deleteProduct(product)"
                ></p-button>
            </td>
        </tr>
    </ng-template>        
</p-table>

<p-dialog header="Add Product" [(visible)]="productFormVisible" class="w-25rem" [modal]="true" [responsive]="true" (onHide)="resetForm()">
    <app-product-form 
      [chosenCategory]="chosenCategory"
      [chosenSubcategory]="chosenSubcategory"
      [product]="product"
      [categories]="categories"
      [subcategories]="subcategories"
      [filteredSubcategories]="filteredSubcategories"
      (save)="addProduct()"
      (cancel)="toggleFormDialog()"
      (categoryChange)="updateSubcategoryDropdown($event)"
    ></app-product-form>
</p-dialog>

<p-dialog header="Upload Image" [(visible)]="imageUploadVisible" class="w-25rem" [modal]="true" [responsive]="true">
    <p-fileUpload 
    mode="advanced"
    customUpload="true" 
    chooseLabel="Choose" 
    chooseIcon="pi pi-upload"
    accept="image/*" 
    (uploadHandler)="onUpload($event)" />
</p-dialog>